<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Wish-List</h3>
				</div>
			</div>

			<div class="inner cover">
				<h1 class="cover-heading">Add gagets to your wishlist</h1>
				<p class="lead">Wish-List is a single-page <a href="https://angularjs.org/">AngularJS</a> + <a href="http://www.gorillatoolkit.org/">Gorilla</a> app, that let you bookmark latest gadgets to your own Bucket List.</p>
				<br />
				<p class="lead">
					<form novalidate class="sign-form">
					    <input type="email" ng-model="user.email"  placeholder="Enter email-id"/>
					    <button ng-click="signIn(user)" class="btn btn-lg btn-default">Get started</button>
					</form>				
				</p>
			</div>

			<div class="mastfoot">
				<div class="inner">
				</div>
			</div>
		</div>
	</div>
</div>